<div
  class="user-search-item"
  role="button"
  tabindex="0"
  [attr.aria-label]="'Start chat with ' + displayName()"
  (click)="onSelect()"
  (keydown.enter)="onSelect()"
  (keydown.space)="$event.preventDefault(); onSelect()"
>
  <ds-avatar
    [user]="user()"
    size="md"
    [showOnline]="true"
    [isOnline]="user().isOnline"
  />

  <!-- Details -->
  <div class="user-details">
    <h4 class="user-name">{{ displayName() }}</h4>
    <p class="user-meta">{{ user().jobTitle || user().email }}</p>
    @if (user().bio) {
      <p class="user-bio">{{ user().bio }}</p>
    }
  </div>
</div>
