<div class="app-password" (focusout)="onTouched()">
  @if (label) {
    <label [for]="inputId" class="app-password__label">{{ label }}</label>
  }
  <p-password
    [(ngModel)]="value"
    [inputId]="inputId || undefined"
    [placeholder]="placeholder"
    [toggleMask]="showToggle"
    [feedback]="false"
    [disabled]="disabled"
    [attr.aria-invalid]="error ? true : null"
    [attr.aria-describedby]="error && inputId ? inputId + '-error' : null"
    (ngModelChange)="update($event)"
    (onBlur)="onTouched()"
  ></p-password>
  @if (error) {
    <p-message
      [attr.id]="inputId ? inputId + '-error' : null"
      severity="error"
      variant="simple"
      size="small"
      >{{ error }}</p-message
    >
  }
</div>
